---
import Contacts from "./Contacts.astro";
import Footer from "./Footer.astro";
import Topbar from "./Topbar.astro";
---

<div id="container">
  <Topbar />
  <slot />
  <Contacts />
  <Footer />
</div>
