---
import Topbar from './Topbar.astro';
import Portfolio from './Portfolio.astro';
import About from './About.astro';
import Services from './Services.astro';
import Contacts from './Contacts.astro';
import Footer from './Footer.astro';

---

<div id="container">
  <!-- Topbar -->
	<Topbar />
  <!-- About -->
	<About />
  <!-- Portfolio -->
	<Portfolio />
  <!-- Services -->
	<Services />
  <!-- Contacts -->
	<Contacts />
  <!-- footer -->
  <Footer />
</div>
