---
import "../styles/global.css";
import { useTranslations, getLangFromUrl } from "../i18n/ui";
const t = useTranslations(Astro);
const lang = getLangFromUrl(Astro.url);
---

<!doctype html>
<html lang={lang} class="scroll-smooth font-display">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;600&family=Pacifico&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{t("site.title")}</title>
  </head>
  <body class="min-h-screen bg-[#fff] antialiased tracking-widest">
    <slot />
  </body>
</html>
